<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
    {% assign cachebust = site.github.build_revision | slice: 0, 7 %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: cachebust | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ "/assets/css/print.css" | relative_url }}" media="print" type="text/css">
    {% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ "/" | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.owner_url }}" class="button" target="_blank" rel="noopener noreferrer"><small>View organization on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">{{ content }}</section>

        <aside id="sidebar">
          <h3>Links</h3>
          <ul>
            {% for page in site.html_pages %}
              {% if page.title %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            <li><a href="{{ site.github.repository_url }}" target="_blank" rel="noopener noreferrer">Source</a></li>
          </ul>
          <p class="repo-owner">This site is maintained by <a href="{{ site.github.owner_url }}" target="_blank" rel="noopener noreferrer">{{ site.github.owner_name }}</a>.</p>
        </aside>
      </div>
    </div>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C0Y4213M4D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-C0Y4213M4D');
    </script>
  </body>
</html>
