---
layout: default
---

{% assign date = page.updated | default: page.date %}
<main role="main" class="post">
  <div role="header">
    <h1>{{ page.title }}</h1>
    <p>
      <time datetime="{{ date | date_to_xmlschema }}">
        {{ date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %} • {{ page.author }}{% endif %} {% if page.meta %} •
      {{ page.meta }}{% endif %} •
      <a href="/">Home</a> •
      <a
        href="{{ site.github.repository_url }}/blob/master/{{ page.relative_path }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Edit
      </a>
    </p>
  </div>
  <hr />
  <article>{{ content }}</article>
  {% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script>
    window.disqus_config = function () {
      this.page.url = '{{ page.url | prepend: site.url }}';
      this.page.identifier =
        '{{ page.id | remove_first: "/posts/" | replace: "/", "-" }}';
    };
    (function (d, s) {
      s = d.createElement('script');
      s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      s.async = 1;
      (d.head || d.body).appendChild(s);
    })(document);
  </script>
  {% endif %}
</main>
{% comment %}

<!-- Heading links -->
{% endcomment %}
<script>
  document
    .querySelector('.post article')
    .querySelectorAll('h1,h2,h3,h4,h5,h6')
    .forEach(function (heading) {
      if (heading.id)
        heading.innerHTML =
          '<a href="#' + heading.id + '">' + heading.innerText + '<\/a>';
    });
</script>
{% comment %}

<!-- Copy code to clipboard -->
{% endcomment %}
<script>
  document.querySelectorAll('article pre.highlight').forEach(function (pre) {
    var button = document.createElement('button');
    var copyText = 'Copy';
    button.type = 'button';
    button.ariaLabel = 'Copy code to clipboard';
    button.innerText = copyText;
    button.addEventListener('click', function () {
      var code = pre.querySelector('code').innerText;
      try {
        code = code.trimEnd();
      } catch (e) {
        code = code.trim();
      }
      navigator.clipboard.writeText(code);
      button.innerText = 'Copied';
      setTimeout(function () {
        button.blur();
        button.innerText = copyText;
      }, 2e3);
    });
    pre.appendChild(button);
  });
</script>

{% comment %}

<!-- Toggle iframe fullscreen -->
{% endcomment %}
<script>
  document
    .querySelectorAll('iframe[src^="https://remarkablegames.org/"]')
    .forEach(function (iframe) {
      var button = document.createElement('button');
      button.type = 'button';
      button.innerHTML = 'Fullscreen ⛶';
      button.style.float = 'right';
      button.addEventListener('click', function () {
        if (document.fullscreenElement) {
          document.exitFullscreen();
        } else {
          iframe.requestFullscreen();
        }
      });
      iframe.parentNode.insertBefore(button, iframe.nextSibling);
    });
</script>
