---
layout: default
---
<main role="main">
  <div role="header">
    <h1>{{ page.title }}</h1>
    <p>
      <em>{{ page.date | date: "%b %-d, %Y" }}</em>
      {% if page.author %} • {{ page.author }}{% endif %}
      {% if page.meta %} • {{ page.meta }}{% endif %} •
      <a href="/">Home</a> •
      <a href="{{ site.github.repository_url }}/blob/master/{{ page.relative_path }}" target="_blank">Edit</a>
    </p>
  </div>
  <hr>
  <article>{{ content }}</article>

  {% if site.disqus_shortname %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      window.disqus_config = function() {
        this.page.url = '{{ page.url | prepend: site.url }}';
        this.page.identifier = '{{ page.id | remove_first: "/posts/" | replace: "/", "-" }}';
      };
      (function(d,s) {
        s = d.createElement('script');
        s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        s.async = 1;
        (d.head || d.body).appendChild(s);
      })(document);
    </script>
  {% endif %}
</main>
