name: build
on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # speeds up installation of html-proofer
      NOKOGIRI_USE_SYSTEM_LIBRARIES: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Build site
        run: bundle exec jekyll build --safe

      - name: Run tests
        run: >
          bundle exec htmlproofer _site
          --ignore-status-codes '0,301,307,400,401,403,429,999'
          --ignore-urls "/gartic.io/,/gather.town/,/image-line.com/,/newgrounds.com/,/sonniss.com/,/unrealengine.com/"
          --no-check-external-hash
